.content-list {
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    row-gap: clamp(1.563rem, 1.222rem + 1.7vw, 2.5rem);

    &__item {
        font-size: clamp(0.875rem, 0.804rem + 0.36vw, 1.125rem);
        line-height: 1.5;
    }
}

.content-list__item {
    p + p {
        margin-top: 0.5em;
    }
}