.header {
    min-height: clamp(36.25rem, 34.196rem + 10.27vw, 43.438rem);
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--dark-bg);
    background-image: url(./../img/header-bg.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    color: var(--header-text);

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        gap: clamp(0rem, -1.429rem + 2.98vw, 1.25rem);

        @media (max-width: 768px) {
            flex-direction: column;
        }
    }

    &__wrapper {
        max-width: 50%;
        text-align: center;

        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    &__photo {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }

    &__text {
        margin-bottom: 40px;
        font-size: clamp(1rem, 0.964rem + 0.18vw, 1.125rem);
        line-height: 1.333;
    }
}

.header__photo-wrapper {
    position: relative;
    width: clamp(9.375rem, 5.804rem + 7.44vw, 12.5rem);
    height: clamp(9.375rem, 5.804rem + 7.44vw, 12.5rem);
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: clamp(11.25rem, 8.393rem + 5.95vw, 13.75rem);
        height: clamp(11.25rem, 8.393rem + 5.95vw, 13.75rem);
        border-radius: 50%;
        border: 4px solid var(--accent);
    }
}

.header__title {
    margin-bottom: 20px;
    font-size: clamp(1.563rem, 1.295rem + 1.34vw, 2.5rem);
    font-weight: 700;
    line-height: 1.5;

    strong {
        font-size: clamp(1.875rem, 0.93rem + 2.44vw, 3.125rem);
    }
    
    em {
        font-style: normal;
        color: var(--accent);
    }
}